.vagrant

*.iso
*.dep
*.o
*.a
*.orig

storm_tests/x86/x86_tests
storm/current-arch
storm/include/storm/current-arch
storm/raspberrypi/storm
storm/x86/storm

# These are painful but what do we do...
programs/cluido/cluido
servers/block/initial_ramdisk/initial_ramdisk
servers/block/initial_ramdisk/ramdisk-auto.h
servers/block/initial_ramdisk/ramdisk.image
servers/file_system/fat/fat
servers/file_system/virtual_file_system/virtual_file_system
servers/network/ipv4/ipv4
servers/network/loopback/loopback
servers/sound/soundblaster/soundblaster
servers/system/boot/boot
servers/system/console/console
servers/system/keyboard/keyboard
servers/system/log/log
servers/system/pci/pci
servers/video/vga/vga

rust/rlibc-master
rust/rust-*
