.vagrant
floppy.img

*.dep
*.o
*.a

storm/current-arch
storm/ia32/storm
storm/include/storm/current-arch
storm_tests/ia32/ia32_tests

servers/system/boot/boot
servers/system/console/console
servers/system/keyboard/keyboard
servers/system/log/log
servers/video/vga/vga
