sudo: required
dist: xenial

matrix:
  include:
    # Default version in Debian stable (stretch)
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - gcc-6-multilib
      env:
        - MATRIX_EVAL="CC=gcc-6 && ARCH=x86"

    # Available, but not default, in Debian testing (buster)
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - gcc-7-multilib
      env:
        - MATRIX_EVAL="CC=gcc-7 && ARCH=x86"

    # Highly experimental Raspberry Pi port
    - os: linux
      addons:
        apt:
          packages:
            - gcc-arm-none-eabi
      env:
        - MATRIX_EVAL="ARCH=raspberrypi"

addons:
  apt:
    packages:

before_install:
 - eval "${MATRIX_EVAL}"
 - export CC
 - export ARCH

before_script:
 - sudo apt-get update
 - sudo apt-get install
     dosfstools
     gcc-multilib
     genisoimage
     grub
     mtools
     nasm
 - ./install_cmocka.sh

script:
 - bundle exec rubocop
 - bundle exec rake default test

notifications:
  slack:
    secure: kAxuZ9jFAXdpQSr44TxPmarPyCRrr1KXqBbjlMkfriYohOyg8Ed/HUVONbRMAqT60kKkk8NxpZOyCIwKdbZoyt/Vuwx95HhtAMaisUyO18bXEmBnjFp4uFPHsq8qVfsf1YDQ1DUjYsL3L6/g234t0RiSqKgqqD5fSqeECFu9ec0=
